<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.medipaw.mapper.LikesMapper">

<resultMap type = "org.medipaw.domain.PetMapVO" id="PetMapMap">
	<result property = "lcLa"	column="LC_LA"></result>
	<result property = "lcLo"		column="LC_LO"></result>
	<result property = "fcltyNm"		column="fclty_nm"></result>
	<result property = "ctgryTwoNm"		column="ctgry_two_nm"></result>
	<result property = "ctgryThreeNm"		column="ctgry_three_nm"></result>
	<result property = "zipNo"		column="zip_no"></result>
	<result property = "rdnmadrNm"		column="rdnmadr_nm"></result>
	<result property = "lnmAddr"		column="lnm_addr"></result>
	<result property = "telNo"		column="tel_no"></result>
	<result property = "hmpgUrl"		column="hmpg_url"></result>
	<result property = "rstdeGuidCn"		column="rstde_guid_cn"></result>
	<result property = "operTime"		column="oper_time"></result>
	<result property = "parkngPosblAt"		column="parkng_posbl_at"></result>
	<result property = "utiliizaPrcCn"		column="utiliiza_prc_cn"></result>
	<result property = "petLmttMtrCn"		column="pet_lmtt_mtr_cn"></result>
	<result property = "placeNo"		column="place_no"></result>
</resultMap>

<resultMap type = "org.medipaw.domain.LikesVO" id="LikesMap">
	<result property = "id"	column="id"></result>
	<result property = "placeNo"		column="place_no"></result>
	<result property = "likeDate"		column="like_date"></result>
</resultMap>
    <insert id="insertLike" parameterType="org.medipaw.domain.LikesVO">
    INSERT INTO likes (place_no, id)
    VALUES (#{placeNo}, #{id})
    </insert>
    
    <delete id="deleteLike">
        DELETE FROM likes
        WHERE place_no = #{placeNo} AND id = #{id}
    </delete>
    
    <select id="getUserLikes" resultMap="PetMapMap" >
        SELECT p.*
        FROM likes l
        JOIN petmap p ON l.place_no = p.place_no
        WHERE l.id = #{id}
    </select>
    
<select id="getLikedPlaces" resultType="java.lang.String">
        SELECT place_no FROM likes WHERE id = #{id}
    </select>
</mapper>



