<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.medipaw.mapper.ReservMapper">
<!-- 쿼리 보관 -->
<sql id="criteria">
	<trim prefix=" WHERE " suffix=" " prefixOverrides="OR">
	    <foreach item="type" collection="typeArr">
	    	<trim prefix="OR">	<!-- 타입이 여러개인 경우 or가 처음 제외하고 중간에 들어가야하기 때문에 trim 사용 -->
		    	<choose>
		    		<when test="type == 'H'.toString()">
		    			 HNAME LIKE '%'||#{keyword}||'%'
		    		</when>
		    		<when test="type == 'M'.toString()">
		    			 NAME LIKE '%'||#{keyword}||'%'
		    		</when>
		    	</choose>
	    	</trim>
	    </foreach>
    </trim>
</sql>

  <select id="select" resultType="org.medipaw.domain.ReservVO">
    SELECT R.RVNO AS RVNO,
       A.ANIMALHOSP_NAME AS HOSNAME, 
       A.HSOP_ROADNAME_ADDRESS AS HOSADDRESS, 
       A.HSOP_PHONENUM AS HOSPHONE,
       A.ANIMALHOSP_NO AS HNO,
       A.SID AS SID,
       M.ID AS ID,
       M.NAME AS NAME, 
       R.RVDATE AS RVDATE, 
       R.RVTIME AS RVTIME,
       R.PETNAME AS PETNAME, 
       R.PETSPECIES AS PETSPECIES, 
       R.PETGENDER AS PETGENDER, 
       R.PETNOTE AS PETNOTE
	FROM ANIMALHOSP_MAIN A
	INNER JOIN RESERV R ON A.ANIMALHOSP_NO = R.ANIMALHOSP_NO
	INNER JOIN MEMBER M ON R.ID = M.ID
	WHERE RVNO = #{rvno}
  </select>
  
  <insert id="insert">	<!-- #{}안에 들어가는 애들은 VO랑 이름이 꼭 맞아야됨 -->
    INSERT INTO RESERV VALUES(RESERV_SEQ.NEXTVAL, #{rvDate}, #{rvTime}, #{petName}, #{petSpecies}, #{petGender}, #{petNote}, #{hno}, #{id})
  </insert>
  
  <delete id="delete">
  	DELETE FROM RESERV WHERE rvno = #{rvno}
  </delete>
  
  <update id="update">
  	UPDATE RESERV SET petname = #{petName}, petspecies = #{petSpecies}, petgender = #{petGender}, petnote = #{petNote} WHERE rvno = #{rvno}
  </update>
  
  <select id="selectAllPagingUser" resultType="org.medipaw.domain.ReservVO">	
  <![CDATA[
    SELECT *
	FROM (
	    SELECT R.RVNO AS RVNO, A.ANIMALHOSP_NAME AS HOSNAME, A.HSOP_ROADNAME_ADDRESS AS HOSADDRESS, 
	           A.HSOP_PHONENUM AS HOSPHONE, R.RVDATE AS RVDATE, R.RVTIME AS RVTIME, 
	           ROW_NUMBER() OVER (ORDER BY R.RVDATE DESC, R.RVTIME DESC) AS rn
	    FROM ANIMALHOSP_MAIN A
	    INNER JOIN RESERV R ON A.ANIMALHOSP_NO = R.ANIMALHOSP_NO
	    WHERE R.ID = #{id}
	)
	WHERE rn <= #{cri.amount} * #{cri.pageNum}
	AND rn > #{cri.amount} * ( #{cri.pageNum} - 1 ) ]]>
  </select>
  
  <select id="selectAllPagingStaff" resultType="org.medipaw.domain.ReservVO">	
  <![CDATA[
    SELECT *
	FROM (
	    SELECT rvno, name, rvdate, rvtime, petnote,
	        ROW_NUMBER() OVER (ORDER BY rvdate DESC, rvtime DESC) AS rn
	    FROM (
	        SELECT RESERV.RVNO AS rvno, MEMBER.NAME AS name, RESERV.RVDATE AS rvdate, RESERV.RVTIME AS rvtime, RESERV.PETNOTE AS petnote
	        FROM RESERV
	        JOIN MEMBER ON RESERV.ID = MEMBER.ID
	        WHERE RESERV.ANIMALHOSP_NO = (SELECT ANIMALHOSP_NO FROM ANIMALHOSP_MAIN WHERE SID = #{sid})
	    )
	)
	WHERE rn <= #{cri.amount} * #{cri.pageNum} AND rn > #{cri.amount} * ( #{cri.pageNum} - 1 ) ]]>
  </select>
  
  <select id="selectAllPagingAdm" resultType="org.medipaw.domain.ReservVO">	
  <![CDATA[
    SELECT *
	FROM (
  		SELECT ROWNUM AS rn, HOSNAME, HOSADDRESS, HOSPHONE, NAME, RVDATE, RVTIME, RVNO
  		FROM view_reserv_adm ]]>
    <if test="keyword != null and keyword != ''">
    	<include refid="criteria"></include>	
    </if>
    
    <![CDATA[
    )
	WHERE rn <= #{amount} * #{pageNum}
	AND rn > #{amount} * ( #{pageNum} - 1 )
  	]]>
  </select>    
  
  <select id="totalCountAdm" resultType="int">
  SELECT COUNT(*) FROM ReservAdm 
	<!-- 보관해 둔 쿼리 사용 -->
	<if test="keyword != null and keyword != ''">
    	<include refid="criteria"></include>	
    </if>
    <!-- <![CDATA[ rvno > 0 ]]> -->
  </select>
  
  <select id="totalCountUser" resultType="int">
  	<![CDATA[
	  	SELECT COUNT(*)
		FROM ANIMALHOSP_MAIN A
		INNER JOIN RESERV R ON A.ANIMALHOSP_NO = R.ANIMALHOSP_NO
		WHERE R.ID = #{id}
	]]>
  </select>
  
  <select id="totalCountStaff" resultType="int">
  	<![CDATA[
	  	SELECT COUNT(*)
	    FROM RESERV
	    WHERE ANIMALHOSP_NO = (SELECT ANIMALHOSP_NO FROM ANIMALHOSP_MAIN WHERE SID = #{sid})
	]]>
  </select>
  
    <select id="duplRvTime" resultType="String">
  	<![CDATA[
	  	SELECT rvTime FROM RESERV WHERE rvDate = #{rvDate} AND animalhosp_no = #{hno}
	]]>
  </select>
  
</mapper>

