<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.medipaw.mapper.TreatMapper">
	<resultMap type="org.medipaw.domain.TreatVO" id="treatMap">		<!-- TreatVO를 담는 resultMap -->
		<id property="tno" column="tno"/>								<!-- PRIMARY KEY -->
		<result property="rvno" column="rvno"/>							<!-- 나머지 COLUMNS -->
		<result property="hno" column="animalhosp_no"/>
		<result property="id" column="id"/>
		<result property="trDate" column="trdate"/>
		<result property="trTime" column="trtime"/>
		<result property="trNote" column="trnote"/>
		<result property="delCheck" column="delCheck"/>
		<collection property="hvo" resultMap="animalHospMap"/>	<!-- VO에 들어있는 변수 이름으로 -->
		<collection property="mvo" resultMap="memberMap"/>
	</resultMap>
	
	<resultMap type="org.medipaw.domain.AnimalHospVO" id="animalHospMap">	<!-- ReservVO를 담는 resultMap -->
		<result property="animalhosp_no" column="animalhosp_no"/>			<!-- 조인하는 값이라 PRIMARY KEY는 아님 -->
		<result property="animalhosp_name" column="animalhosp_name"/>
		<result property="hsop_roadname_address" column="hsop_roadname_address"/>
		<result property="hsop_phonenum" column="hsop_phonenum"/>
		<result property="sid" column="sid"/>
	</resultMap>
	
  	<resultMap type="org.medipaw.domain.MemberVO" id="memberMap">	<!-- MemberVO를 담는 resultMap -->
		<result property="id" column="id"/>							<!-- 조인하는 값이라 PRIMARY KEY는 아님 -->
		<result property="name" column="name"/>
	</resultMap>
	
	<!-- StaffVO도 넣어서 조인하기? 고민해보기 -->

	<!-- 쿼리 보관 -->
	<sql id="criteria">
		<trim prefix=" WHERE " suffix=" " prefixOverrides="OR">
		    <foreach item="type" collection="typeArr">
		    	<trim prefix="OR">	<!-- 타입이 여러개인 경우 or가 처음 제외하고 중간에 들어가야하기 때문에 trim 사용 -->
			    	<choose>
			    		<when test="type == 'H'.toString()">
			    			 animalhosp_name LIKE '%'||#{keyword}||'%'
			    		</when>
			    		<when test="type == 'M'.toString()">
			    			 NAME LIKE '%'||#{keyword}||'%'
			    		</when>
			    	</choose>
		    	</trim>
		    </foreach>
	    </trim>
	</sql>
  
	<select id="select" resultMap="treatMap">
    <![CDATA[
       SELECT T.TNO AS TNO,
		   T.ANIMALHOSP_NO AS animalhosp_no, 
		   A.ANIMALHOSP_NAME AS animalhosp_name, 
		   A.HSOP_ROADNAME_ADDRESS AS hsop_roadname_address, 
		   A.HSOP_PHONENUM AS hsop_phonenum,
		   A.SID AS sid,
		   M.ID AS id,
		   M.NAME AS name,
		   T.TRDATE AS trDate, 
		   T.TRTIME AS trTime, 
		   T.TRNOTE AS trNote
		FROM TREAT T
		INNER JOIN MEMBER M ON T.ID = M.ID
		LEFT JOIN ANIMALHOSP_MAIN A ON T.ANIMALHOSP_NO = A.ANIMALHOSP_NO
		WHERE T.TNO = #{tno}
    ]]>
	</select>

  
  <select id="selectAllPagingAdm" resultMap="treatMap">	
  <![CDATA[
    SELECT *
	FROM (
	  SELECT ROWNUM AS rn, animalhosp_name, hsop_roadname_address, hsop_phonenum, NAME, TRDATE, TRTIME, RVNO, TNO
	  FROM view_treat_adm ]]>
    <if test="keyword != null and keyword != ''">
    	<include refid="criteria"></include>	
    </if>
	<![CDATA[
	)
	WHERE rn <= #{amount} * #{pageNum}
	AND rn > #{amount} * (#{pageNum} - 1)
  	]]>
  </select>
  
  <select id="selectAllPagingStaff" resultMap="treatMap">	
  	<![CDATA[
	SELECT *
	FROM (
	    SELECT tno, name, trdate, trtime, trnote,
	        ROW_NUMBER() OVER (ORDER BY trdate DESC, trtime DESC) AS rn
	    FROM (
	        SELECT TREAT.TNO AS tno, MEMBER.NAME AS name, TREAT.TRDATE AS trdate, TREAT.TRTIME AS trtime, TREAT.TRNOTE AS trnote
	        FROM TREAT
	        JOIN MEMBER ON TREAT.ID = MEMBER.ID
	        WHERE TREAT.ANIMALHOSP_NO = (SELECT ANIMALHOSP_NO FROM ANIMALHOSP_MAIN WHERE SID = #{sid})
	    )
	)
	WHERE rn <= #{cri.amount} * #{cri.pageNum} AND rn > #{cri.amount} * (#{cri.pageNum} - 1)
  	]]>
  </select>
  
  <select id="selectAllPagingUser" resultMap="treatMap">	
  	<![CDATA[
    SELECT *
	FROM (
	    SELECT T.TNO AS TNO,
	           A.ANIMALHOSP_NAME AS animalhosp_name, 
	           A.HSOP_ROADNAME_ADDRESS AS hsop_roadname_address, 
	           A.HSOP_PHONENUM AS hsop_phonenum,
	           T.TRDATE AS TRDATE, 
	           T.TRTIME AS TRTIME, 
	           T.RVNO AS RVNO,
	           T.ID AS ID,
	           T.DELCHECK AS DELCHECK,
	           ROW_NUMBER() OVER (ORDER BY T.TRDATE DESC, T.TRTIME DESC) AS rn
	    FROM ANIMALHOSP_MAIN A
	    LEFT JOIN RESERV R ON A.ANIMALHOSP_NO = R.ANIMALHOSP_NO
	    LEFT JOIN TREAT T ON R.RVNO = T.RVNO
	    WHERE T.ID = #{id}
	    AND T.DELCHECK = 0
	)
	WHERE rn <= #{cri.amount} * #{cri.pageNum}
	AND rn > #{cri.amount} * (#{cri.pageNum} - 1)
  	]]>
  </select>
    
  <insert id="insert">	<!-- #{}안에 들어가는 애들은 VO랑 이름이 꼭 맞아야됨 -->
	INSERT INTO TREAT VALUES(TREAT_SEQ.NEXTVAL, #{trDate}, #{trTime}, #{trNote}, #{hno}, #{rvno}, DEFAULT, #{id}, #{sid})
  </insert>
  
  <delete id="delete">
  	DELETE FROM TREAT WHERE tno = #{tno}
  </delete>
  
  <update id="update">
  	UPDATE TREAT SET trdate = #{trDate}, trtime = #{trTime}, trnote = #{trNote} WHERE tno = #{tno}
  </update>
  
    <!-- 회원이 삭제 시 delCheck 1로 업데이트 -->
  <update id="updateDelCheck">
  	UPDATE TREAT SET DELCHECK = 1 WHERE tno = #{tno}
  </update>
  
  <select id="treatCnt" resultType="int">	
  	SELECT COUNT(*) FROM TREAT WHERE rvno = #{rvno}
  </select>
  
  <select id="totalCountAdm" resultType="int">
  	SELECT COUNT(*) FROM TreatAdm 
	<if test="keyword != null and keyword != ''">
    	<include refid="criteria"></include>	
    </if>
  </select>
  
  <select id="totalCountUser" resultType="int">
  	<![CDATA[
	  	SELECT COUNT(*)
		FROM ANIMALHOSP_MAIN A
		INNER JOIN TREAT T ON A.ANIMALHOSP_NO = T.ANIMALHOSP_NO
		WHERE T.ID = #{id} AND T.RVNO IS NOT NULL
	]]>
  </select>
  
  <select id="totalCountStaff" resultType="int">
  	<![CDATA[
	  	SELECT COUNT(*)
	    FROM TREAT
	    WHERE ANIMALHOSP_NO = (SELECT ANIMALHOSP_NO FROM ANIMALHOSP_MAIN WHERE SID = #{sid})
	]]>
  </select>
</mapper>

