<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.medipaw.mapper.BoonyangAttachMapper">
  
  <insert id="insertAttach">	<!-- 첨부파일 insert 쿼리문 -->
    INSERT INTO BY_ATTACH(BYNO, UUID, UPFOLDER, FILENAME) 
    VALUES(#{byno}, #{uuid}, #{upFolder}, #{fileName})
  </insert>
  
  <delete id="deleteAttach">
  	DELETE FROM BY_ATTACH WHERE uuid = #{uuid}
  </delete>  
  
  <select id="selectAttach" resultType="org.medipaw.domain.BoonyangAttachVO">	
    SELECT * FROM BY_ATTACH WHERE byno = #{byno}
  </select>
  
  <delete id="deleteAttachAll">
  	DELETE FROM BY_ATTACH WHERE byno = #{byno}
  </delete>
  
  <select id="yesterdayFiles" resultType="org.medipaw.domain.BoonyangAttachVO">	
  	<!-- 전날의 폴더만 갖고 와서 select -->
    <!-- SELECT * FROM tbl_attach WHERE upFolder = TRUNC(SYSDATE - 1) -->	
    SELECT * FROM BY_ATTACH WHERE upFolder = TO_CHAR(SYSDATE - 1, 'yyyy\MM\dd')
  </select>
  
</mapper>

